@model PassVerse.Web.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Your Password";
}

<div class="page-header">
    <h1>Reset Your Password  <small>enter your new password</small></h1>
</div>
@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
    <br />
    <input class="btn btn-primary" type="submit" value="Reset Your Password" />
}
